body {
	padding: 0;
	margin: 0;
	color: #000;
	background-color: #fff;
}


#container {
	position: relative;
	float: left;
	margin: 50px;
	border: 1px solid #ccc;
	overflow: hidden;
}

#rc_win {
	position: absolute;
	top: 150px;
	left: 150px;
	width: 100px;
	height: 100px;
	border: 1px dashed #fff;
}

.rc_pd {
	position: absolute;
	width: 500px;
	height: 500px;
	opacity: 0.7;
	background-color: #000;
}
#rc_pd_1 { bottom: 100%; left: 0; }
#rc_pd_2 { top: 0; left: 100%; }
#rc_pd_3 { top: 100%; right: 0; }
#rc_pd_4 { bottom: 0; right: 100%; }

#rc_pd_main {
	float: left;
	width: 100%;
	height: 100%;	
	background-color: #000;
	opacity: 0.3;
	cursor: move;
}

.rc_mv {
	z-index: 5;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #000;
	border: 1px solid #777;
}

#rc_mv_1 { top: -5px; left: -5px; }
#rc_mv_2 { top: -5px; right: -5px; }
#rc_mv_3 { bottom: -5px; right: -5px; }
#rc_mv_4 { bottom: -5px; left: -5px; }


#info {
	position: fixed;
	top: 10px;
	right: 10px;
}
